.callback {
  width: 100%;
  background-image: url('../img/girl-flag-bg.png');
  background-size: 818px auto;
  background-position: 100% center;
  background-repeat: no-repeat;
}

.callback__wrapper {
  @include container;
  padding-top: 223px;
  padding-bottom: 183px;
}

.callback__wrapper h2 {
  @include h2;
  margin-top: 0;
  margin-bottom: 24px;
}

.callback__wrapper p {
  width: 400px;
  display: block;
  font-size: 17px;
  line-height: 170%;
  color: $black;
  margin-bottom: 64px;
}

.callback__form {
  display: flex;
  position: relative;
}

.callback__form input {
  border: 2px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 80px;
  background-color: transparent;
  padding: 20px 40px;
  min-width: 320px;
  font-size: 17px;
  line-height: 20px;
  color: $black;

  &::placeholder {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    color: $black;
  }

  &:focus {
    border-color: $yellow;
  }
}

.callback__form button {
  border-radius: 80px;
  background: $gradient;
  font-size: 17px;
  padding: 20px;
  width: 216px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: white;
  position: relative;
  right: 57px;

  &:hover {
    background: linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
    @include pointer;
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(109.15deg, #FFC341 -50.3%, #FFD701 63.1%);
  }
}
