.description {
  @include container;
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
}

.description__text-wrapper {
  padding-right: 88px;
  max-width: 600px;
}

.description__text-title {
  font-size: 28px;
  line-height: 150%;
}

.description__text {
  font-size: 16px;
  line-height: 150%;
}

.description__img {
  width: 560px;
}

@media (max-width: $max-tablet) {
  .description {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .description__text-wrapper {
    max-width: 354px;
    padding-right: 30px;
  }
}

@media (max-width: $max-mobile) {
  .description {
    flex-direction: column;
    margin-top: 65px;
    margin-bottom: 65px;
    justify-content: center;
  }

  .description__text-wrapper {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .description__img {
    width: 100%;
    height: auto;
  }
}
