.description {
  @include container;
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
}

.description__text-wrapper {
  padding-right: 88px;
  flex-shrink: 1;
}

.description__text-title {
  font-size: 28px;
  line-height: 150%;
  color: #011c40;
}

.description__text {
  font-size: 16px;
  line-height: 150%;
  color: #011c40;
}

.description__picture {
  width: 560px;
  flex-shrink: 0;
}

.description__img {
  width: 560px;
  flex-shrink: 0;
}

@media (max-width: $max-tablet) {
  .description {
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
  }

  .description__text-wrapper {
    padding-right: 30px;
  }

  .description__text-title {
    font-size: 26px;
  }

  .description__picture {
    width: 324px;
  }

  .description__img {
    width: 324px;
    height: 264px;
    object-fit: cover;
    object-position: 35% 50%;
  }
}

@media (max-width: $max-mobile) {
  .description {
    flex-direction: column;
    margin-top: 65px;
    margin-bottom: 65px;
    justify-content: center;
  }

  .description__text-wrapper {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .description__picture {
    width: 100%;
  }

  .description__img {
    width: 100%;
    height: auto;
  }

  .description__text-title {
    font-size: 24px;
  }
}
