.features {
  background-image: url("../img/features-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.features__wrapper {
  @include container;
  padding-top: 112px;
  padding-bottom: 120px;
}

.features__title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 49px;
  font-weight: 600;
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__item {
  width: 31%;
  padding: 30px 30px 20px 30px;
  background-color: #fafafa;
}

.features__item-img {
  height: 32px;
  margin-bottom: 16px;
}

.features__item-title {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 150%;
  color: #011c40;
  letter-spacing: -0.5px;
}

.features__item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 140%;
  color: #011c40;
}

@media (max-width: $max-tablet) {
  .features__wrapper {
    padding-top: 90px;
    padding-bottom: 102px;
  }

  .features__title {
    font-size: 26px;
  }

  .features__item {
    padding: 25px 20px;
  }

  .features__item-img {
    margin-bottom: 10px;
  }

  .features__item-title {
    line-height: 140%;
    margin-bottom: 10px;

    &--all-inclusive {
      display: block;
      margin-right: 50px;
    }
  }

  .features__item-text {
    font-size: 14px;
  }
}

@media (max-width: $max-mobile) {
  .features__wrapper {
    padding-top: 58px;
    padding-bottom: 64px;
  }

  .features__title {
    position: relative;
    margin-bottom: 30px;
    font-size: 24px;
  }

  .features__item {
    width: 100%;
    margin-bottom: 31px;
    padding-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .features__item-img {
    margin-bottom: 15px;

    &--1 {
      width: 21px;
      height: 26px;
    }

    &--2 {
      width: 33px;
      height: 19px;
      margin-top: 5px;
    }

    &--3 {
      width: 38px;
      height: 13px;
      margin-top: 10px;
      margin-bottom: 21px;
    }
  }

  .features__item-title {
    display: flex;
  }
}
