.features {
  background-image: url("../img/features-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.features__wrapper {
  @include container;
  padding-top: 120px;
  padding-bottom: 120px;
}

.features__title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 60px;
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__item {
  width: 30%;
  padding: 30px;
  background-color: #fafafa;
}

.features__item-img {
  height: 32px;
  margin-bottom: 25px;
}

.features__item-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 150%;
  color: #011c40;
  font-style: normal;
  font-weight: 500;
}

.features__item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 140%;
  color: #011c40;
}

@media (max-width: $max-tablet) {
  .features__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .features__item {
    padding: 25px 20px;
  }

  .features__item-title {
    &--all-inclusive {
      display: block;
      margin-right: 50px;
    }
  }
}

@media (max-width: $max-mobile) {
  .features__item {
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .features__item-title {
    display: flex;
    margin-right: 100px;
  }
}
