.feedback {
  background-image: url("../img/background-feedback.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.feedback__wrapper {
  @include container;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback__text {
  margin-left: 60px;
  margin-bottom: 7px;
}

.feedback__title {
  font-size: 40px;
  line-height: 150%;
  color: #011c40;
  margin: 0;
  margin-bottom: 8px;
}

.feedback__intro {
  font-size: 18px;
  line-height: 150%;
  color: #011c40;
  margin: 0;
  margin-right: 240px;
}

.feedback__form {
  width: 403px;
  padding: 45px 50px 50px;
  background: #011c40;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
  margin-right: 60px;
  margin-left: 45px;
  flex-shrink: 0;
}

.feedback__form-text {
  font-size: 18px;
  line-height: 150%;
  color: #f9fbfd;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
}

.feedback__form-list {
  @include list-reset;
}

.feedback__form-item {
  margin: 0;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &--checkbox {
    display: flex;
    align-items: center;
  }
}

.feedback__form-input {
  padding: 14px 0 14px 15px;
  width: 100%;
  font-size: 14px;
  color: #011c40;
  border-radius: 0;

  &::placeholder {
    font-size: 14px;
    color: #011c40;
    opacity: 1;
  }
}

.feedback__form-checkbox {
  width: 18px;
  height: 18px;
  padding: 6px 4px;
  margin-right: 8px;
  opacity: 0;
  border-radius: 0;
}

.feedback__form-checkbox-label {
  font-size: 10px;
  font-weight: normal;
  color: #f9fbfd;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -26px;
    top: -1px;
    width: 18px;
    height: 18px;
    background-color: white;
  }

  &::after {
    content: "";
    position: absolute;
    left: -23px;
    top: 5px;
    width: 10px;
    height: 7px;
    background-image: url("../img/icon-checked.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
  }
}

.feedback__form-checkbox:checked + .feedback__form-checkbox-label::after {
  opacity: 1;
}

.feedback__form-button {
  width: 100%;
  font-size: 14px;
  color: #011c40;
  padding: 13px 0 11px 0;
  background-color: #f9fbfd;
  border: none;
  margin-top: 8px;
  line-height: 150%;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: $max-tablet) {
  .feedback__wrapper {
    flex-direction: column;
    padding-top: 95px;
    padding-bottom: 98px;
  }

  .feedback__text {
    width: 525px;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .feedback__title {
    text-align: center;
    font-style: normal;
    line-height: 130%;
    display: block;
    width: 100%;
    padding: 0 45px;
    font-size: 34px;
  }

  .feedback__intro {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    padding: 0 20px;
    margin: 0 33px;
  }

  .feedback__form {
    margin-right: 0;
    margin-left: 0;
    padding: 45px 48px 50px;
  }

  .feedback__form-input {
    padding: 14px 0 13px 15px;
  }

  .feedback__form-button {
    margin-top: 14px;
  }
}

@media (max-width: $max-mobile) {
  .feedback__wrapper {
    padding-top: 60px;
    padding-bottom: 68px;
  }

  .feedback__text {
    width: 100%;
    margin-bottom: 32px;
  }

  .feedback__title {
    font-size: 24px;
  }

  .feedback__intro {
    font-size: 16px;
    margin: 0;
  }

  .feedback__form {
    width: 290px;
    padding: 36px 30px;
  }

  .feedback__form-text {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 140%;
    margin-bottom: 26px;
  }

  .feedback__form-input {
    padding: 13px 0 13px 15px;
  }

  .feedback__form-item {
    margin: 0 0 17px;
  }

  .feedback__form-checkbox {
    margin-right: 13px;
  }

  .feedback__form-checkbox-label {
    &::before {
      left: -26px;
      top: 1px;
      width: 19px;
      height: 19px;
    }

    &::after {
      left: -22px;
      top: 7px;
    }
  }

  .feedback__form-button {
    margin-top: 12px;
  }
}
