.feedback {
  background-image: url("../img/background-feedback.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.feedback__wrapper {
  @include container;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  color: #011c40;
  margin: 0;
  margin-bottom: 20px;
}

.feedback__intro {
  font-size: 18px;
  line-height: 150%;
  color: #011c40;
  margin: 0;
}

.feedback__form {
  width: 403px;
  padding: 50px;
  background: #011c40;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
  margin-right: 45px;
  flex-shrink: 0;
}

.feedback__form-text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: #f9fbfd;
  margin-top: 0;
  margin-bottom: 35px;
  font-style: normal;
}

.feedback__form-list {
  @include list-reset;
}

.feedback__form-item {
  margin: 0;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--checkbox {
    display: flex;
    align-items: center;
  }
}

.feedback__form-input {
  padding: 15px 0 15px 15px;
  width: 100%;
  font-size: 14px;
  color: #011c40;

  &::placeholder {
    font-size: 14px;
    color: #011c40;
    opacity: 1;
  }
}

.feedback__form-checkbox {
  width: 18px;
  height: 18px;
  padding: 6px 4px;
  margin-right: 8px;
  opacity: 0;
}

.feedback__form-checkbox-label {
  font-size: 10px;
  color: #f9fbfd;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -25px;
    top: -3px;
    width: 18px;
    height: 18px;
    background-color: white;
  }

  &::after {
    content: "";
    position: absolute;
    left: -21px;
    top: 2px;
    width: 10px;
    height: 7px;
    background-image: url("../img/icon-checked.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
  }
}

.feedback__form-checkbox:checked + .feedback__form-checkbox-label::after {
  opacity: 1;
}

.feedback__form-button {
  width: 100%;
  font-size: 14px;
  color: #011c40;
  padding: 15px 0 17px 0;
  background-color: #f9fbfd;
  border: none;
  margin-top: 10px;
  font-weight: 600;
  line-height: 150%;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: $max-tablet) {
  .feedback__wrapper {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .feedback__text {
    margin-bottom: 60px;
  }

  .feedback__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 45px;
  }

  .feedback__intro {
    display: block;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    padding: 0 20px;
  }

  .feedback__form {
    margin-right: 0;
  }
}

@media (max-width: $max-mobile) {
  .feedback__wrapper {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .feedback__form {
    width: 290px;
    padding: 40px 30px;
  }

  .feedback__form-text {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 140%;
  }
}
