.header {
  min-height: 650px;
  background-image: url('../img/background-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  @include padding;
}

.header-wrapper {
  @include container;
}

.header__navigation {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}

.header__navigation-logo-img {
  color: white;
}

.header__navigation-toggle {
  display: none;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '';
    width: 24px;
    height: 14px;
    background-image: url('../img/icon-menu-burger.svg');
  }

  &--open::before {
    content: '';
    width: 13px;
    height: 13px;
    background-image: url('../img/icon-menu-cross.svg');
    background-position: 50% 50%;
  }
}

.header__navigation-list {
  @include list-reset;
  display: flex;
  align-items: center;
}

.header__navigation-item {
  margin-left: 33px;
}

.header__navigation-link {
  color: white;
  font-size: 16px;
}

.header__text-wrapper {
  margin-top: 210px;
}

.header__text-title {
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  color: white;
  margin-bottom: 25px;
}

.header__text-subtitle {
  margin-top: 0;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

@media (max-width: $max-tablet) {
  .header {
    min-height: 638px
  }

  .header__navigation {
    padding-top: 30px;
  }

  .header__navigation-logo-img {
    width: 38px;
    height: 20px;
  }

  .header__text-wrapper {
    margin-top: 230px
  }

  .header__text-title {
    font-size: 50px;
    line-height: 61px;
  }

  .header__text-subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $max-mobile) {

  .header {
    min-height: 500px;
  }

  .header__navigation {
    padding-top: 20px;
  }

  .header__navigation-logo {
    z-index: 1;
  }

  .header__navigation-logo-img {

    &--open {
      color: #011C40;
    }
  }

  .header__navigation-toggle {
    display: flex;
    z-index: 1;
  }

  .header__navigation {
    position: relative;
  }

  .header__navigation-list {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    padding-top: 92px;

    &--open {
      display: block;
    }
  }

  .header__navigation-item {
    margin-left: 15px;
  }

  .header__navigation-link {
    color: #011C40;
    font-size: 18px;
    display: block;
    margin-bottom: 30px;
  }

  .header__text-wrapper {
    margin-top: 143px;
  }

  .header__text-title {
    font-size: 36px;
    line-height: 125%;
  }

  .header__text-subtitle {
    font-size: 16px;
    line-height: 140%;
  }
}
