.type {
  background: #f6f7f9;
}

.type__wrapper {
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 144px 0 133px;
}

.type__wrapper h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #1f1f1f;
  margin-top: 0;
  margin-bottom: 46px;
  font-weight: 600;
}

.type__list {
  @include list-reset;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.type__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &--road {
    margin-top: 10px;
    margin-left: 2%;

    &::before {
      content: "";
      width: 180px;
      height: 180px;
      position: absolute;
      z-index: 1;
      left: -62px;
      top: 155px;
      border-radius: 50%;
      border-color: $green;
      border-style: solid;
      border-width: 28px;
    }
  }

  &--mountain {
    margin-top: 39px;

    &::before {
      content: "";
      width: 47px;
      height: 47px;
      position: absolute;
      z-index: 3;
      left: -19px;
      top: -18px;
      border-color: $green;
      border-style: solid;
      border-width: 12px;
    }

    &::after {
      content: "";
      width: 47px;
      height: 47px;
      position: absolute;
      z-index: 3;
      right: -22px;
      bottom: 48px;
      border-color: $green;
      border-style: solid;
      border-width: 12px;
    }
  }

  &--childlike {
    &::before {
      content: "";
      width: 95px;
      height: 95px;
      position: absolute;
      z-index: 3;
      top: -32px;
      right: -36px;
      border-radius: 50%;
      border-color: $green;
      border-style: solid;
      border-width: 20px;
    }
  }
}

.type__item img {
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}

.type__item h3 {
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 22px;
  margin-top: 0;
}

@media (max-width: 1250px) {
  .type__wrapper {
    width: 100%;
  }

  .type__item {
    &--road {
      margin-left: 0;
    }

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

@media (max-width: $max-tablet) {
  .type__wrapper {
    padding-top: 55px;
    padding-bottom: 48px;
  }

  .type__wrapper h2 {
    font-size: 24px;
    margin-bottom: 37px;
  }

  .type__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .type__item {
    width: 270px;

    &--road {
      margin-top: 0;
      margin-left: 65px;

      &::before {
        display: block;
        width: 127px;
        height: 127px;
        top: auto;
        bottom: 47px;
        left: -38px;
        border-width: 18px;
      }
    }

    &--mountain {
      margin-top: 0;
      margin-right: 65px;
      margin-left: 90px;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &--childlike {
      margin-top: 33px;

      &::before {
        display: block;
        width: 68px;
        height: 68px;
        background-size: cover;
        top: -24px;
        right: -25px;
        border-width: 12px;
      }
    }
  }

  .type__item img {
    width: 270px;
    height: 300px;
  }
}

@media (max-width: 800px) {
  .type__item {
    &--mountain {
      margin-left: 0;
    }
  }
}

@media (max-width: $max-mobile) {
  .type__wrapper {
    padding-bottom: 34px;
    padding-top: 49px;
  }

  .type__item {
    &--road {
      margin-left: 0;

      &::before {
        left: -26px;
      }
    }

    &--mountain {
      margin-right: 0;
      margin-top: 25px;
    }

    &--childlike {
      margin-top: 23px;

      &::before {
        right: -15px;
      }
    }
  }
}
