.video {
  width: 100%;
  background: linear-gradient(to bottom, #131314 80%, #f0f0f0 20%);
}

.video__wrapper {
  width: 929px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 74px;
}

.video__wrapper h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.video__wrapper p {
  width: 340px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: white;
  opacity: 0.7;
  margin-bottom: 51px;
  margin-top: 0;
  text-align: center;
}

.video__player {
  width: 929px;
  position: relative;
}

.video__button {
  position: absolute;
  z-index: 2;
  border: none;
  background-color: transparent;
  width: 65px;
  height: 65px;
  top: 50%;
  left: 50%;
  margin-top: -32.5px;
  margin-left: -32.5px;
  background-image: url("../img/icon__play-video.svg");
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@media (max-width: $max-tablet) {
  .video {
    height: 413px;
    margin-bottom: 85px;
  }

  .video__wrapper {
    width: 100%;
    padding-left: 133px;
    padding-right: 133px;
    padding-top: 0;
  }

  .video__wrapper h2 {
    font-weight: 600;
    font-size: 24px;
    margin-top: 70px;
  }

  .video__wrapper p {
    width: 429px;
    margin-bottom: 41px;
  }

  .video__player {
    width: 503px;
  }

  .video__img {
    width: 100%;
    height: auto;
  }

  .video__button {
    width: 90px;
    height: 90px;
    margin-top: -45px;
    margin-left: -45px;
  }
}

@media (max-width: $max-mobile) {
  .video {
    height: 384px;
    margin-bottom: 54px;
  }

  .video__wrapper {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .video__wrapper h2 {
    font-size: 24px;
    margin-top: 84px;
    position: relative;
    right: 5px;
  }

  .video__wrapper p {
    width: 288px;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 53px;
  }

  .video__player {
    width: 288px;
  }

  .video__button {
    width: 65px;
    height: 65px;
    margin-top: -32.5px;
    margin-left: -32.5px;
  }
}
