@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin container {
  width: $max-desktop;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1250px) {
    width: 100%;
    min-width: 290px;
  }
}

@mixin padding {
  padding-left: 45px;
  padding-right: 45px;

  @media (max-width: $max-mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
