@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin shadow-icon {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
}

@mixin shadow-text {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

@mixin shadow-bubble {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

@mixin shadow-btn-click {
  background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), #FFFFFF;
  border-radius: 8px;
}
