html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body {
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-style: 400;
  font-weight: normal;
  background-color: #e5e5e5;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  top: 0;
  left: 0;
  font-size: 0;
}

.hidden {
  display: none;
}
