$min-mobile: 320px;
$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 1023px;
$min-desktop: 1024px;
$max-desktop: 1366px;

$black: #484848;
$blue: #1fc0fc;
$yellow: #ffc341;
$gradient: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
